body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    background-color: #2C3E50;
}

#navbar li a,
.navbar-brand,
#navbar span {
    color: #fff;
    transition: 0.3s;

}

.navbar-brand {
    font-size: 1.7rem;
    font-weight: 700;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar-toggler-icon {
    padding-top: 4px;
}

/*
#navbar li a:hover,
#navbar span:hover {
    background-color: dodgerblue;
    border-radius: 5px;
}
*/

.navbar-brand:hover {
    color: #fff;
}


#navbar button:focus {
    outline: none;
}

@media (max-width: 576px) {
    #navbar .navbar-brand {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    #navbar .navbar-brand {
        font-size: 1.2rem;
    }
}

/*-------- Hero --------*/


#hero {
    background-color: dodgerblue;
    height: 100vh;
    padding: 13rem 0;
}

#hero img {
    width: 15rem;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
}

.divider-custom .divider-custom-line {
    background-color: #fff;
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    border-radius: 1rem;
}

.divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
}

#hero h1 {
    font-weight: 700;
}

#hero h3 {
    font-weight: 600;
}

@media (max-width: 576px) {
    #hero h1 {
        font-size: 1.7rem;
    }

    #hero h3 {
        font-size: 1.6rem
    }
}

@media (max-width: 400px) {
    #hero h1 {
        font-size: 1.4rem;
    }
}

/*-------- Portfolio  --------*/

#portfolio {
    padding: 13rem 0;
    height: 100vh;
}

#portfolio h2 {
    color: #2C3E50;
    font-weight: 700;
}


#portfolio .divider-custom .divider-custom-line {
    background-color: #2C3E50;
}

.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 30px;
    border-radius: .5rem;
    overflow: hidden;
}

#portfolio .portfolio-item .portfolio-item-caption {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in;
    opacity: 0;
    background: dodgerblue;
}

#portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 0.8;
    z-index: 1;
}


.portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

/*-------- Portfolio  Modal --------*/

.modal-body {
    position: relative;
    padding: 4rem 1rem;
}

#portfolio .modal-body h3 {
    font-size: 3rem;
    font-weight: 600;
}

.modal-content button {
    right: 0;
    z-index: 1;
}

/*-------- About  Me --------*/

#about {
    background-color: dodgerblue;
    height: 100vh;
    padding: 13rem 0;
    margin: 0 auto;
}

#about h2 {
    font-weight: 700;
}

#about h2,
#about p,
#about .far {
    color: #fff;
}

#about button {
    color: #fff;
    border: 2px solid;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px 15px;
    transition: all .2s ease-in;
}

#about button:hover {
    color: dodgerblue;
    background-color: #fff;
}

#about .btn {
    outline: #fff;
}

/*-------- Contact  Me --------*/

#contact {
    height: 100vh;
    padding: 4rem 0;
}

#contact h2 {
    color: #2C3E50;
    font-weight: 700;
}

#contact .far {
    color: #2C3E50;
}

#contact .divider-custom .divider-custom-line {
    background-color: #2C3E50;
}

#contact .form-control {
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
}

#contact .btn {
    font-weight: 500 !important;
    padding: 15px 20px;
    border-radius: 10px;
}

#contact .form-group .form-control:focus {
    outline: none;
}

/*-------- Footer  Section 1 --------*/

#footer {
    padding: 4rem 0;
    background-color: #2C3E50;
}

#footer h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

#footer p {
    font-weight: 500;
    font-size: 1.1rem;
}

#footer .btn-links {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    transition: all .2s ease-in;
}

#footer .fa:hover,
#footer .fab:hover {
    color: #2C3E50;
    background: #fff;
}

/*-------- Copyright --------*/

#copyright {
    padding: 1.2rem;
    background-color: #1B2530;
}

#copyright small {
    font-weight: 500;
}

/*Scroll Spry styles*/
#navbar .navbar-nav li.nav-item a.nav-link.active {
    background: #007bff;
    border-radius: 5px;
}